<app-login *ngIf="!user"></app-login>
<div *ngIf="user" class="my-4 mx-auto items-center md:w-10/12 xl:w-8/12">
  <app-header (addTrackerClick)="toggleAddBudgetModal()"></app-header>
  <h1
    class="text-2xl md:text-3xl lg:text-4xl mt-4 md:mt-6 lg:mt-8 font-semibold mx-4 my-2"
  >
    Budgets
  </h1>
  <div
    class="grid grid-cols-1 gap-1 items-start mx-4 lg:grid-cols-2 md:gap-2 lg:gap-4"
  >
    <app-budget-card
      *ngFor="let budget of budgets$ | async"
      [id]="budget.id"
      [amount]="totalBudgetExpenses(budget)"
      [title]="budget.title"
      [max]="budget.max"
      (addExpenseClick)="openAddExpenseModal(budget)"
      (viewExpensesClick)="openViewExpensesModal(budget)"
    ></app-budget-card>
  </div>
  <div class="mx-4 mt-6 md:mt-8 lg:mt-10">
    <app-total-budget-card></app-total-budget-card>
  </div>
</div>

<app-add-budget-modal
  *ngIf="addBudgetModal"
  [user]="user"
  (closeModal)="toggleAddBudgetModal()"
></app-add-budget-modal>

<app-add-expense-modal
  *ngIf="addExpenseModal"
  [budget]="currentBudget"
  [user]="user"
  (closeModal)="closeAddExpenseModal()"
></app-add-expense-modal>

<app-view-expenses-modal
  *ngIf="viewExpensesModal"
  [budget]="currentBudget"
  [user]="user"
  (closeModal)="closeViewExpensesModal()"
></app-view-expenses-modal>
