<div
  class="fixed top-0 left-0 right-0 z-50 w-full p-4 md:p-5 lg:p-6 overflow-x-hidden overflow-y-auto md:inset-0 h-full max-h-full bg-slate-700/[0.6]"
>
  <div
    class="modal relative m-auto w-full max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl max-h-full"
  >
    <div class="relative bg-white rounded-lg shadow-2xl">
      <button
        type="button"
        class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-100 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
        data-modal-hide="authentication-modal"
        (click)="handleClose()"
      >
        <svg
          aria-hidden="true"
          class="w-5 h-5 fill-gray-600"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip="evenodd"
          ></path>
        </svg>
      </button>
      <div class="px-6 py-6 lg:px-8">
        <h3
          class="mb-4 text-xl md:text-2xl lg:text-3xl font-medium text-gray-500"
        >
          New Tracker
        </h3>
        <form class="space-y-6" (submit)="handleSubmit()">
          <div>
            <label
              for="title"
              class="block mb-2 text-sm sm:text-md md:text-lg lg:text-xl font-medium text-gray-600"
              >Title</label
            >
            <input
              type="text"
              name="title"
              id="name"
              class="bg-gray-100 border border-gray-300 text-gray-900 text-sm sm:text-md md:text-lg lg:text-xl rounded-lg block w-full p-2.5"
              placeholder="Entertainment"
              [(ngModel)]="title"
              required
            />
            <div>
              <label
                for="max"
                class="block mb-2 text-sm sm:text-md md:text-lg lg:text-xl font-medium text-gray-900"
              >
                Maximum Spending
              </label>
              <input
                type="number"
                name="max"
                id="max"
                placeholder="200"
                class="bg-gray-100 border border-gray-300 text-gray-900 text-sm sm:text-md md:text-lg lg:text-xl rounded-lg block w-full p-2.5"
                [(ngModel)]="max"
                required
                step="{0.01}"
              />
            </div>
            <div class="flex justify-end">
              <button
                type="submit"
                class="w-full text-white bg-cyan-400 hover:bg-cyan-500 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm sm:text-md md:text-lg lg:text-xl px-5 py-2.5 text-center"
              >
                Add Budget
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
